$brown:#a34719;

.thin-bottom
{
  border-bottom-width: 1px;
  border-color:$brown;
  border-bottom-style: solid;
}

.thick-bottom
{
  border-bottom-width: 3px;
  border-color:$brown;
  border-bottom-style: solid;
}

.thin-top
{
  border-top-width: 1px;
  border-color:$brown;
  border-top-style: solid;
}

.thick-top
{
  border-top-width: 3px;
  border-color:$brown;
  border-top-style: solid;
}

.thin-left
{
  border-left-width: 1px;
  border-color:$brown;
  border-left-style: solid;
}

.thick-left
{
  border-left-width: 3px;
  border-color:$brown;
  border-left-style: solid;
}

.thin-right
{
  border-right-width: 1px;
  border-color:$brown;
  border-right-style: solid;
}

.thick-right
{
  border-right-width: 3px;
  border-color:$brown;
  border-right-style: solid;
}

.border-black-right
{
  border-right-color: black;
}

.med-bottom
{
  border-bottom-width: 2px;
  border-color:$brown;
  border-bottom-style: solid;
}
