input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.questions ol {
  padding-left: 15px;
}
.questions ol li {
  margin-bottom: 1em;
  padding-left: 1em;
}
.number-input {
  width: .5in;
  text-align: center;
}
.survay-container {
  font-size: 9pt;
}
.tight-paragraphs > p {
  margin: 0px;
}
.bare-input {
  border-style: none;
}
.inline {
  display: inline;
}
.text-line {
  display: block;
  border-bottom: 1px solid;
  width: 90%;
}
.other {
  border-bottom: 1px solid;
  width: 5.5in;
}

//Some aspects need to be fine tuned still
.taform
{
  resize: none;
  overflow-y: hidden;
  padding: 8px;
  resize: none;
  border: 0px solid #ffffff;
  background-size: 100% 30px;
  line-height: 30px;
  font-family: Arial, Helvetica, Sans-serif;
  background-image: linear-gradient(white, white 29px, #f95757 29px, #f95757 30px, white 30px);
  background-image: -o-linear-gradient(white, white 29px, #f95757 29px, #f95757 30px, white 30px);
  background-image: -moz-linear-gradient(white, white 29px, #f95757 29px, #f95757 30px, white 30px);
  background-image: -webkit-linear-gradient(white, white 29px, #f95757 29px, #f95757 30px, white 30px);
  background-image: -ms-linear-gradient(white, white 29px, #f95757 29px, #f95757 30px, white 30px);
}
