$brown : #A34719;

.border {
  color: $brown;
  width: 8.5in;
  height: 11in;
  border: 2px solid $brown;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.no-border {
  border: 0px;
}
.box-underline {
  border-bottom: 1px solid;
}
.header
{
}
.header-left {
  width: 11.4cm;
}
.header-left > div {
  height: 99.4%;
}
.header-left-width
{
  width: 100.5%;
}
.box {
  border: 1px solid;
}
.box-thick {
  border: 2px solid;
}
@mixin block-label {
  display: block;
}
@mixin header-label-font {
  font-size: 9pt;
}
.header-left > div > label {
  @include header-label-font;
  @include block-label;
  padding-left: 1em;
}
.header-left > div > input {
  width: 95%;
  margin-left: 1em;
}
.header-right {
  width: 10.05cm;
}
.header-right-upper
{
  height:2.43cm;
  padding-left: 10px;
  padding-top: 2px;
}
.docket {
  width: 381px;
}
.header-input-box {
  display: inline-block;
}
.header-input-box label {
  @include header-label-font;
}
.header-right> div > label {
  @include header-label-font;
  @include block-label;
  padding-left: 1em;
}
.header-right > div > input {
  @include block-label;
  width: 95%;
  margin-left: 1em;
}

.header-right > div input {
  width: 5.4cm;
}
.header-right > dev > div > input {
  @include header-label-font;
}
.title {
  height: .50in;
  margin-left: -3px; 
}
.title > h1 {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
}
.title > span {
  text-align: center;
  display: block;
  font-weight: bold;
}
.court > h2 {
  font-size: 10pt;
  font-weight: bold;
  margin-top: 2px;
}
input {
  border-style: none;
  border: 0px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.survay-container {
  margin-left: 1em;
}

.p2
{
  margin-top: 2cm;


  .header
  {
    height: 3.55cm;
  }

  .header-left
  {
    height: 96.9%;
    width: 11.34cm;
  }

  h1
  {
    text-align: center;
  }

  .title-span
  {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 12pt;
  }
}

.p3
{
  margin-top: 2cm;

  .upper
  {
    height: 1.5cm;
  }

  .phfix
  {
    margin-top:0em;
    margin-left:.2em;
    input
    {
      padding-top:1.5em;
      padding-bottom:1.5em;
      width:99%;
    }
  }

  .mid
  {
    height: 1cm;
  }

  .section
  {
    width: 33.15%;
  }

  .header
  {
    height:2.5cm;

    div
    {
      height: 100%;
    }
    
    .left
    {
      text-align:center;
    }
  }

  textarea
  {
    width:99%;
  }

  .survay-container
  {
    margin-left: 0em;
  }

  .foot
  {

    label
    {
      font-size:12pt;
    }

    .upper
    {
      input
      {
        padding-left:1%;
        margin-top:.5em;
        width:99%;
        font-size:14pt;
      }
    }

    .lower
    {
      padding-top:.5em;
    }

    .left
    {
      width: 50%;
      height: 100%;
    }
    
    .right
    {
      height: 100%;
      width:49.65%;
    }
    
    p
    {
      margin-top: 0em;
      margin-bottom:0em;
    }

    .center
    {
      text-align:center;
    }
  }
}
