.foot
{

.sig-upper-left
{
  width:390px;
  padding-left: 6px;
}

.sig-upper-right
{
  width:390px;
}

.sig-upper
{
  height:50px;
}

.sig-upper > div
{
  height: 97.6%;
}

.sig-lower
{
  height:80px;
}

.centercontent
{
  margin-left: auto;
  margin-right: auto;
}

.sig-bottom-left
{
  width: 60%;
  padding-left: 25px;
}

.sig-bottom-right
{
  width: 29%;
}

label
{
  font-size: 7pt;
}

}
