!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title
  %meta{:content => "", :name => "description"}
  %meta{:content => "width=device-width", :name => "viewport"}
  / Place favicon.ico and apple-touch-icon.png in the root directory
  %link{:href => "css/normalize.css", :rel => "stylesheet"}
  %link{:href => "css/main.css", :rel => "stylesheet"}
  %script{:src => "js/vendor/modernizr-2.6.2.min.js"}
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    / Add your site or application content here
    -#%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}


  


    .border.center
      %form{ :action => "", :method => "post"}
        .header.thick-bottom
          .header-left.pull-left
            .title.thick-left.thick-right.thick-top.thick-bottom.placement-fix.override-header
              %h1 APPLICATION FOR SEARCH WARRANT
              %span.center G.L. c. 276 1-7 
            .applicant.header-input-box.border-black-right.thick-right.thin-bottom.header-left-width
              %label{:for => "name"} NAME OF APPLICANT
              %input{:type => "text", :name => "name"}
            .applicant-position.header-input-box.border-black-right.thick-right.thin-top.header-left-width
              %label{:for => "position"} POSITION OF APPLICANT
              %input{:type => "text", :name => "position"}
          .header-right.pull-right
            .court.thin-bottom.header-right-upper
              %h2 TRIAL COURT OF MASSACHUSETTS
              .header-input-box
                %input.box-underline{:type => "text", :name => "court_department"}
                %label{:for => "court_department"} COURT DEPARTMENT
              .header-input-box
                %input.box-underline{:type => "text", :name => "division"}
                %label{:for => "division"} DIVISION

            .docket.header-input-box.thin-top
              %label{:for => "position"} SEARCH WARRANT DOCKET NUMBER
              %input{:type => "text", :name => "position"}
          .clearfix
        .survay-container
          %p
            I, the undersigned
            %b APPLICANT,
            being duly sworn, depose and say that:
          
          .questions
            %ol
              %li
                I have the following information based upon the attached affidavit(s), consisting of a total of 
                %input.bare-input.number-input{:type => "number", :name => "pages"}, pages
                %br
                which is (are) incorporated herein by reference.
              %li
                Based upon this information, there is
                %b PROBABLE CAUSE
                to believe that the property described below:
                %blockquote.tight-paragraphs
                  %p
                    %input{:type => "checkbox", :name => "1"}
                    %label{:for => "1", :name => "1"}
                      has been stolen, embezzled, or obtained by false pretenses.

                  %p
                    %input{:type => "checkbox", :name => "2"}
                    %label{:for => "1", :name => "2"}
                      is intended for use or has been used as the means of committing a crime.

                  %p
                    %input{:type => "checkbox", :name => "3"}
                    %label{:for => "1", :name => "3"}
                      has been concealed to prevent a crime from being discovered.
                  %p
                    %input{:type => "checkbox", :name => "4"}
                    %label{:for => "1", :name => "4"}
                      is unlawfully possessed or concealed for an unlawful purpose.
                  %p
                    %input{:type => "checkbox", :name => "5"}
                    %label{:for => "1", :name => "5"}
                      is evidence of a crime or is evidence of criminal activity.
                  %p
                    %input{:type => "checkbox", :name => "6"}
                    %label{:for => "1", :name => "6"}
                      other
                      %i
                        (specify)
                    %input.input-underline{:type => "text", :name => "6-1"}
                    %label{:for => "1", :name => "6-1"}
              %li
                %p
                  I am seeking the issuance of a warrant to search for the following property
                  %i
                    (describe the property to by
                    %br
                    searched for as particularly as possible)
                  %br
                  %textarea.taform{:rows => "5", :name => "ta1"}
              %li
                %p
                  Based upon this information, there is also probable cause to believe 
                  that the property may be found
                  %i
                    (check as may as apply)
                  %br
                  %input{:type => "checkbox", :name => "7"}
                  %label{:for => "1", :name => "7"}
                    as
                    %i
                      (identify the exact location or description of the place(s) to be searched):
                  %br
                  %textarea.taform{:rows => "2", :name => "ta2"}
                    
                %p
                  which is occupied by and/or in possession of:
                  %br
                  %textarea.taform{:rows => "2", :name => "ta3"}
                %p
                  %input{:type => "checkbox", :name => "8"}
                  on the person or in the possession of 
                  %i
                    (identify any specific person(s) to be searched):
                  %br
                  %textarea.taform{:rows => "1", :name => "ta4"}
                %p
                  %input{:type => "checkbox", :name => "9"}
                  on any person present who may be found to have such property in his or hear possession 
                  or under his or her control or to whome such a property may have been delivered.
          %p
            THEREFORE, I respectfully request that the court issue a Warrant and order of seizure, authorizing the search of
            the above described place(s) and person(s), if any, to be searched, and directing that such property or evidnece or
            any part thereof, if found, be seized and brought before the court, together with such other and further relief that 
            the court may deem property.
            %blockquote.tight-paragraphs
              %p
                %input{:type => "checkbox", :name => "10"}
                have previously submitted the same application.
              %p
                %input{:type => "checkbox", :name => "11"}
                Have
                %b
                  not
                previously submitted the same application.
        .foot
          .sig-upper.thick-top.thin-bottom
            .sig-upper-left.pull-left.thin-right
              %label
                PRINTED NAME OF APPLICANT
              %br
              %input.input-underline{:type => "text", :name => "12"}
            .sig-upper-right.pull-right
              %label
                SIGNED UNDER THE PENALTIES OF PERJURY
              %br
              %b
                X
              %input.input-underline{:type => "text", :name => "13"}
              %br
              %label
                Signature of Applicant
          .sig-lower.thin-top
            .sig-bottom-left.pull-left
              %label
                SWORN AND SUBSCRIBED TO BEFORE
              %br
              %b
                X
              %input.input-underline{:type => "text", :name => "14"}
              %br
              %label
                Signatures of Justice, Clerk Magistrate or Assistant Clerk
            .sig-bottom-right.pull-right
              %input.input-underline{:type => "text", :name => "15"}
              %br
              %label
                Date

    -#:javascript
      window.jQuery || document.write('<\/script>')
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
