input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.questions ol {
  padding-left: 15px; }

.questions ol li {
  margin-bottom: 1em;
  padding-left: 1em; }

.number-input {
  width: .5in;
  text-align: center; }

.survay-container {
  font-size: 10pt; }

.tight-paragraphs > p {
  margin: 0px; }

.bare-input {
  border-style: none; }

.inline {
  display: inline; }

.text-line {
  display: block;
  border-bottom: 1px solid;
  width: 90%; }

.other {
  border-bottom: 1px solid;
  width: 5.5in; }

.taform {
  width: 90%;
  resize: none;
  overflow-y: hidden;
  border: 0px solid #ffffff;
  background-size: 100% 20px;
  line-height: 20px;
  font-family: Arial, Helvetica, Sans-serif; }

.lines {
  background-image: repeating-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px) !important;
  background-image: -o-repeating-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px) !important;
  background-image: -moz-repeating-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px) !important;
  background-image: -webkit-repeating-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px) !important;
  background-image: -ms-repeating-linear-gradient(white, white 20px, #a34719 19px, #a34719 20px) !important;
  -webkit-print-color-adjust: exact; }

.placement-fix {
  margin-left: 0cm; }

.override-header {
  width: 99.9%; }

.input-underline {
  border-bottom: 1px solid #A34719;
  width: 80%; }

.seal {
  width: 1cm;
  height: 1cm;
  position: absolute;
  margin-left: 2cm;
  top: .05cm; }

.font-override {
  font-size: 13pt; }

.infix {
  border-color: #A34719;
  width: 7cm; }

.labeladj {
  display: block;
  text-align: center;
  margin-right: 3cm;
  font-size: 8pt; }

.p3mfix {
  margin-bottom: 0cm; }

.p3l1 {
  width: 7cm; }

.p3l2 {
  width: 2cm; }

.p3ol .input-underline {
  width: 90%;
  font-size: 14pt; }

.final-statement {
  padding-left: 4cm;
  padding-right: 4cm;
  text-align: center;
  margin-bottom: 1cm; }

.ic1 {
  width: 12.1cm; }

.ic2 {
  width: 18.9cm;
  margin-top: .3cm; }

.pfix2 {
  margin-top: 1cm;
  margin-left: .3cm;
  margin-bottom: .2cm; }

.aff .pnum {
  width: .5cm; }
.aff textarea {
  font-size: 14pt; }
