input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.questions ol {
  padding-left: 15px; }

.questions ol li {
  margin-bottom: 1em;
  padding-left: 1em; }

.number-input {
  width: .5in;
  text-align: center; }

.survay-container {
  font-size: 9pt; }

.tight-paragraphs > p {
  margin: 0px; }

.bare-input {
  border-style: none; }

.inline {
  display: inline; }

.text-line {
  display: block;
  border-bottom: 1px solid;
  width: 90%; }

.other {
  border-bottom: 1px solid;
  width: 5.5in; }

.taform {
  width: 90%;
  resize: none;
  overflow-y: hidden;
  border: 0px solid #ffffff;
  background-size: 100% 20px;
  line-height: 20px;
  font-family: Arial, Helvetica, Sans-serif;
  background-image: linear-gradient(white, white 19px, #a34719 19px, #a34719 20px);
  background-image: -o-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px);
  background-image: -moz-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px);
  background-image: -webkit-linear-gradient(white, white 19px, #a34719 19px, #a34719 20px);
  background-image: -ms-linear-gradient(white, white 20px, #a34719 19px, #a34719 20px); }

.placement-fix {
  margin-left: 0.5px; }

.override-header {
  width: 99.9%; }

.input-underline {
  border-bottom: 1px solid #A34719;
  width: 80%; }
