.border {
  color: #a34719;
  width: 8.5in;
  height: 11in;
  border: 2px solid; }

.center {
  margin-left: auto;
  margin-right: auto; }

.no-border {
  border: 0px; }

.box-underline {
  border-bottom: 1px solid; }

.header-left {
  width: 11.4cm; }

.header-left > div {
  height: 99.4%; }

.header-left-width {
  width: 100.5%; }

.box {
  border: 1px solid; }

.box-thick {
  border: 2px solid; }

.header-left > div > label {
  font-size: 9pt;
  display: block;
  padding-left: 1em; }

.header-left > div > input {
  width: 95%;
  margin-left: 1em; }

.header-right {
  width: 10.05cm; }

.header-right-upper {
  height: 2.43cm;
  padding-left: 10px;
  padding-top: 2px; }

.docket {
  width: 381px; }

.header-input-box {
  display: inline-block; }

.header-input-box label {
  font-size: 9pt; }

.header-right > div > label {
  font-size: 9pt;
  display: block;
  padding-left: 1em; }

.header-right > div > input {
  display: block;
  width: 95%;
  margin-left: 1em; }

.header-right > div input {
  width: 5.4cm; }

.header-right > dev > div > input {
  font-size: 9pt; }

.title {
  height: .50in;
  margin-left: -3px; }

.title > h1 {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px; }

.title > span {
  text-align: center;
  display: block;
  font-weight: bold; }

.court > h2 {
  font-size: 10pt;
  font-weight: bold;
  margin-top: 2px; }

input {
  border-style: none;
  border: 0px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.survay-container {
  margin-left: 1em; }
