.border {
  color: #a34719;
  width: 8.5in;
  height: 11in;
  border: 2px solid #a34719; }

.center {
  margin-left: auto;
  margin-right: auto; }

.no-border {
  border: 0px; }

.box-underline {
  border-bottom: 1px solid; }

.header-left {
  width: 11.4cm; }

.header-left > div {
  height: 99.4%; }

.header-left-width {
  width: 100.5%; }

.box {
  border: 1px solid; }

.box-thick {
  border: 2px solid; }

.header-left > div > label {
  font-size: 9pt;
  display: block;
  padding-left: 1em; }

.header-left > div > input {
  width: 95%;
  margin-left: 1em; }

.header-right {
  width: 10.05cm; }

.header-right-upper {
  height: 2.43cm;
  padding-left: 10px;
  padding-top: 2px; }

.docket {
  width: 381px; }

.header-input-box {
  display: inline-block; }

.header-input-box label {
  font-size: 9pt; }

.header-right > div > label {
  font-size: 9pt;
  display: block;
  padding-left: 1em; }

.header-right > div > input {
  display: block;
  width: 95%;
  margin-left: 1em; }

.header-right > div input {
  width: 5.4cm; }

.header-right > dev > div > input {
  font-size: 9pt; }

.title {
  height: .50in;
  margin-left: -3px; }

.title > h1 {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px; }

.title > span {
  text-align: center;
  display: block;
  font-weight: bold; }

.court > h2 {
  font-size: 10pt;
  font-weight: bold;
  margin-top: 2px; }

input {
  border-style: none;
  border: 0px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.survay-container {
  margin-left: 1em; }

.p2 {
  margin-top: 2cm; }
  .p2 .header {
    height: 3.55cm; }
  .p2 .header-left {
    height: 96.9%;
    width: 11.34cm; }
  .p2 h1 {
    text-align: center; }
  .p2 .title-span {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 12pt; }

.p3 {
  margin-top: 2cm; }
  .p3 .upper {
    height: 1.5cm; }
  .p3 .phfix {
    margin-top: 0em;
    margin-left: .2em; }
    .p3 .phfix input {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      width: 99%; }
  .p3 .mid {
    height: 1cm; }
  .p3 .section {
    width: 33.15%; }
  .p3 .header {
    height: 2.5cm; }
    .p3 .header div {
      height: 100%; }
    .p3 .header .left {
      text-align: center; }
  .p3 textarea {
    width: 99%; }
  .p3 .survay-container {
    margin-left: 0em; }
  .p3 .foot label {
    font-size: 12pt; }
  .p3 .foot .upper input {
    padding-left: 1%;
    margin-top: .5em;
    width: 99%;
    font-size: 14pt; }
  .p3 .foot .lower {
    padding-top: .5em; }
  .p3 .foot .left {
    width: 50%;
    height: 100%; }
  .p3 .foot .right {
    height: 100%;
    width: 49.65%; }
  .p3 .foot p {
    margin-top: 0em;
    margin-bottom: 0em; }
  .p3 .foot .center {
    text-align: center; }
